<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой магазин{% endblock %}</title>
</head>
<body>

<ul>
    <li><a href="/user/">Пользователи</a></li>
    <li><a href="/user/add/">Добавить пользователя</a></li>
    <li><a href="/good/">Товары</a></li>
    <li><a href="/good/add/">Добавить товар</a></li>
    <li><a href="/order/">Заказы</a></li>
</ul>

{% block content %}

{% endblock %}

</body>
</html>