{% extends 'layouts/main.twig' %}

{% block title %}Заказы{% endblock %}

{% block content %}
    <div style="display: flex; flex-wrap: wrap;">

        <?php foreach ($orders as $order) : ?>
        {% for order in orders %}

        <div style="padding: 10px; margin: 10px; border: 1px solid #ececec; text-align: center;">
            <h3>{{ order.id }}</h3>
            <hr>
            <a href="/order/one?id={{ order.id }}">Подробнее</a>
        </div>

        {% endfor %}

    </div>
{% endblock %}
